@tailwind base;
@tailwind components;
@tailwind utilities;

/* PREMIUM SCROLLBAR */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #E5E7EB; 
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9CA3AF; 
}

/* Dark scrollbar for terminal */
.dark-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.dark-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.dark-scrollbar::-webkit-scrollbar-thumb {
  background: #374151; 
  border-radius: 10px;
}

body {
  background-color: #F3F4F6;
  overflow: hidden; /* App handles scrolling */
}